<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPU Hackathon</title>
    <link rel="stylesheet" href="../stylesheets/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="http://spu.edu/">
        <div class="logo-image">
            <img src="../images/spu_logo.jpeg" class="img-fluid" width="80px" height="80px">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="spud">SPU Developers</a>
                    <a class="dropdown-item" href="wecs">Women in Engineering and Computer Science</a>
                </div>
            </li>
        </ul>
    </div>
    <a class="nav-link ml-auto" href="/">
        <div class="logo-image">
            <img src="../images/falcon_hax_logo_v2.png" class="img-fluid" width="60px" height="60px">
        </div>
    </a>
</nav>
<h1>SPU FalconHax</h1>
<div class="opening">
    <p>Calling all computer science and engineering students, and enthusiasts!Do you like programming, tinkering, making?</p>
    SPU Developers club is hosting a <b>hack-a-thon!</b></p>
    <p>This is a weekend-long event where you or a team of up to four members can make, code, and/or create a solution that incorporates the theme: <b>Community and Unity</b>.</p>
    <p>There will be prizes for the top 3 winners, like a spot on SPUD’s wall of fame in Otto miller and more prizes.</p>
    <p>Please RSVP below to join us from May 14th through May 16th.</p>
    <a href="https://forms.gle/1Atjg5dVcoHwKzPF8">Register your team here!</a>
</div>
<p></p>
<h2>Announcements</h2>
<p></p>
<div class="announcements">
    <p>Keep up to date with announcements by joining the <a href="https://discord.gg/sMPcTCh">SPU Developer's Discord</a>.</p>
</div>
<p></p>
<h2>Schedule</h2>
<p></p>
<div class="schedule">
    <p>Date: May 14-16, 2021</p>
    <p><b>Kickoff Meeting</b>: May 14 5:30PM</p>
    <p><b>Designated Coding</b>: May 14 6:00PM - May 16 4:00PM</p>
    <p><b>Results and Awards</b>: May 16 5:00 - 5:30PM</p>
</div>
<p></p>
<h2>Theme</h2>
<p></p>
<div class="theme">
    <p><b>Community and Unity</b></p>
    <p><b>Task</b>: Build a project that incorporates community and unity using any form of technology.</p>
    <p><b>Scope</b>: Projects may be created for any scale, depending on what community the project attempts reach.</p>
    <p>In a time where the pandemic has provided difficulties and setbacks in our world, we want to be able to unite
    with people around us.</p>
    <p>Create a program, product, or solution that brings people together in a community during a pandemic.</p>
</div>
<p></p>
<h2>Rules/Requirements</h2>
<p></p>
<div class="Rules">
    <p><b>Requirements</b>: Any submission has to be runnable on our basic computer setup (macOS, Windows, Linux) or have a video submission detailing and showing off your submission</p>
    <p><b>Rules/Legal</b>: 4 team members max </p>

</div>
<p></p>
<h2>Judging Areas/Criteria</h2>
<p></p>
<div class="judging">
    <p><b>Originality</b> - Is the idea unique? Has it been done before?</p>
    <p><b>Design</b>- Is it designed well? Does it do its job effectively?</p>
    <p><b>Presentation</b> - Is it well presented?  Could a development team create/maintain it easily?</p>
    <p><b>Feasibility</b> - How feasible is your project? Can it be accomplished?</p>
    <p><b>Game-Changing Potential</b> - Does this project promote Unity and Community through its function?</p>
</div>
<p></p>
<h2>Prizes</h2>
<p></p>
<div class="prizes">
    <p><b>1st Place</b>: TensorFlow-themed mugs, SPU Developer's Wall of Fame feature in OMH</p>
    <p><b>2nd Place</b>: TensorFlow-themed cloth bags</p>
    <p><b>3rd Place</b>: TensorFlow-themed screen/phone cleaners</p>
    <p><b>Participation Award</b>: TensorFlow-themed Sticker</p>
</div>
<img style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;" , src="../images/falcon_hax_logo_v2.png">
</body>
</html>