<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPU Hackathon</title>
    <link rel="stylesheet" href="../stylesheets/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="spud">SPU Developers</a>
                    <a class="dropdown-item" href="wecs">Women in Engineering and Computer Science</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<h1>SPU FalconHax</h1>
<div class="announcement">
    <p>Calling all computer science and engineering students, and enthusiasts! Do you like programming, tinkering, making? SPU Developers club is hosting a hack-a-thon! This is a weekend-long event where you or a team of up to four members can make, code, and/or create a solution that incorporates the theme: community and unity. There will be prizes for the top 3 winners, like a spot on SPUD’s wall of fame in Otto miller and more prizes. More information on prizes and judging criteria coming soon. Please RSVP below to join us from May 14th through May 16th.</p>
</div>
<div class="information">
    <p>Date: May 14-16, 2021</p>
    <p>Time: Friday evening to Sunday 5 pm</p>
    <p>Theme: Community and Unity</p>
    <p>Prizes: Wall of fame, t-shirts</p>
    <p>Scope: Build a project that incorporates community and unity using any form of technology</p>
    <p>Judging criteria: Any submission has to be runnable on our basic computer setup (macOS, Windows, Linux) or have a video submission detailing and showing off your submission</p>
    <p>Rules/Legal: 4 team members max </p>
    <a href="https://forms.gle/1Atjg5dVcoHwKzPF8">Register your team here!</a>
</div>

<img style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;" , src="../images/falcon_hax_logo_v2.png">
<div class="prizes">

</div>
<div class="judging">

</div>
</body>
</html>