<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPUD</title>
    <link rel="stylesheet" href="../stylesheets/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .team{
            display: flex;
            align-items: center;
            justify-content: right
        }
        img {
            max-width: 100%;
        }

        .image {
            flex-basis: 70%
        }

        .text {
            font-size: 16px;
            padding-left: 100px;
            padding-right: 100px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="http://spu.edu/">
        <div class="logo-image">
            <img src="../images/spu_logo.jpeg" class="img-fluid" width="80px" height="80px">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="spud">SPU Developers</a>
                    <a class="dropdown-item" href="wecs">Women in Engineering and Computer Science</a>
                </div>
            </li>
        </ul>
    </div>
    <a class="nav-link ml-auto" href="/">
        <div class="logo-image">
            <img src="../images/falcon_hax_logo_v2.png" class="img-fluid" width="60px" height="60px">
        </div>
    </a>
</nav>
    <h1>SPU Developers</h1>
    <div class="discord">
        <p>Join the <a href="https://discord.gg/sMPcTCh">SPU Developers official discord server</a> to get involved</p>
    </div>
    <hr>
    <h1>Meet the Team</h1>
    <br>
    <div class="team">
        <div class="image" style="padding-left: 80px">
            <img src="../images/chris.jpeg">
        </div>
        <div class="text">
            <h2>Chris Moroney</h2>
            <h4>Google DSC Ambassador / SPU Developers Financial Officer</h4>
            <p>Chris is currently a sophomore at Seattle Pacific University. He is hoping to achieve a Bachelor's of Science (BS)
            in Computer Science by Spring 2021. Chris's primary responsibilities to SPU Developers is to manage SPU's chapter
            within the Google DSC Community, provide and educate students with resources provided by Google, host hands-on workshops
            and labs, and to manage the financial details for the club. Chris joined the SPU Developers Club as a core-team member with an eager
            desire to learn and teach in the community. Chris wishes to give back to his community by equipping students with skills necessary to starting
            one's career, as well as to grow all student's passions for programming. </p>
            <p>Chris's favorite hobbies includes playing football and basketball outside. On a rainy day, Chris loves to play
            video games, board games, and watch TV shows. He also is involved with the SPU orchestra and plays both the cello and viola. During the pandemic, Chris has really enjoyed connecting with students online, but really wishes to meet more
            people in real life.</p>
            <p><i>"A true programmer will always have frustrations on a project. A true programmer also knows how to
                find solutions through perseverance." - Chris Moroney</i></p>
        </div>
    </div>
</body>
</html>